
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibri";
  
}

.allQuestions{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.questions{
  font-size: 30px;
  margin: 20px;  
  width: 90%;
  padding-bottom: 15px;
  align-items: center;
  align-content: center;
  text-align: center;
  font-weight: bold;

}

.question-p{
  font-weight: normal;
  font-size: 20px;
}

.buttons__answers{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;  
}
.buttons__answers--si,
.buttons__answers--no {
  padding: 3px 8px 3px 8px;
  border-radius: 7px;
  color: #FFF5F5;
  background-color: #A83979;
  border: none;
  width: 50%;
  margin: 10px;
}

/* Resultados*/

.results{
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.button__results {
  padding: 6px 11px 6px 11px;
  border-radius: 7px;
  color: #FFF5F5;
  background-color: #A83979;
  border: none;
  width: 50%;
  margin: 10px;  
  
}

.img__results{
  width: 200px;
  
}

.text__results{
  font-size: xx-large;
  margin: 5px;    
  align-items: center;
  align-content: center;
  text-align: center;
  font-weight: bold;
}

.loading{
  font-size: xx-large;
  margin: 5px; 
  text-align: center;
  color: #A83979;
  font-weight: bold;
}